# Capstone Project: Predicting additional tax revenue for the state of Connecticut if sports wagering is legalized

## Problem Statement

The State Legislature of Connecticut is reviewing a bill to legalize sports wagering within the state. The State Legislature must carefully weigh pros and cons when deciding pass or reject the bill. If they pass the bill, the bill moves on to the Sentate for final approval. If the Senate approves, Connecticut would become the 12th state in the United States where sports wagering has been legalized.

A major consideration by the State Legislature is the potential revenue gain in the State General fund. All sources of gaming share revenue with the state and make transfers into the State General fund at the end of the fiscal year. While sports wagering itsself is likely to bring in new revenue for the state, the state must consider reductions in other revenue streams that the new sports wagering revenue stream may cause. 

Using Sports Wagering year-end reports we have for each state where sports wagering was legal in 2019 as well as state annual reports showing other streams of revenue, we will build and leverage an unsupervised linear regression model that will help predict if legazing sports wagering will lead to an increase or decrease in total revenue for Connectiut, using the other states as prototypes. After modeling, We will exmaine the model's mean squared error, helping us determine the success of the model. Our goal is to provide the state with a model that can predict revenue as closely as possible, giving the state more confidence to make their decision more clear.

## Wednesday 02/26: convert pdf data into dataframes successfully and have your data collection completely done

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('./data/combined.csv')

In [7]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NJ,NaN,NaN,NaN,NaN,NaN
2,month,handle,revenue,hold,taxes,NaN
3,Jan-19,"$385,279,662","$18,777,582",4.90%,"$2,532,619",NaN
4,Feb-19,"$320,368,087","$12,732,740",4.00%,"$1,817,553",NaN
...,...,...,...,...,...,...
150,month,handle,revenue,hold,taxes,NaN
151,Oct-19,"$5,603,136","$218,107",3.90%,"$196,296",NaN
152,Nov-19,"$17,089,383","$943,687",5.50%,"$849,318",NaN
153,Dec-19,"$22,375,049","$1,632,412",7.30%,"$1,469,171",NaN
154,Total-19,"$1,557,191,900","$151,789,939",5.57%,"$15,964,888",NaN

## Thursday 02/27: get through data cleaning and 25% of your EDA

## Friday 02/28 - Sunday 03/01: schedule Office Hours with Matt/Tim/Riley this week to walk them through your findings and get their take on any unsupervised learning (if any) that you need to do.

Have scheduled time with Riley Friday afternoon to review my capstone

## Wednesday 03/04: formal Capstone Check-In #3 -- check the repo for ALL those requirements and making sure those are met.

I will look closely at the growth and/or decline in revenue for the state given the growth/decline in revenue for each gaming entity. I will look at the year each entity opened, their relative distance to other entities, and their revenue

## Notes relating to objectives, goals, success metrics, risks, assumptions, obstacles, concerns

1. How do i compare casinos to other gaming types?
2. I need to understand the approval process. Local Goverment >> State Legislature >> Senate?
3. How can I predict revenue in a county where there is no gaming now?
4. How can I predict renuve in a county where gaming already exists? Opening a new casino will compete with an existing casino
5. How has the approval process changed since 2015 (my data ranges from 1972 to 2015)
6. Additional features in other data sets >> Merge/concat that data with the original df
7. Bring in additional features via other datasets?

## Outline of proposed method and models

## Imports

In [16]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('./data/ctfunding.csv')

## EDA

In [4]:
df.info

<bound method DataFrame.info of     FYE 6/30     Lottery  Plainfield Greyhound  Bridgeport Shoreline Star  \
0     1972.0     8150000                   NaN                        NaN
1     1973.0    16500000                   NaN                        NaN
2     1974.0    16000000                   NaN                        NaN
3     1975.0    15000000                   NaN                        NaN
4     1976.0    31900000             4924536.0                   225333.0
5     1977.0    25341822             9897029.0                  7539664.0
6     1978.0    41790050             8119339.0                  4850208.0
7     1979.0    43117000             7806377.0                  5092827.0
8     1980.0    54535048             7176368.0                  4739781.0
9     1981.0    57653000             7517524.0                  4659929.0
10    1982.0    71000000             8145685.0                  4479313.0
11    1983.0    80500000             9253891.0                  4412450.0
12    1984.0   105425000             9791909.0                  4545535.0
13    1985.0   148800000             9875591.0                  4385627.0
14    1986.0   190850000             9629358.0                  5474825.0
15    1987.0   214100000             9545366.0                  4939500.0
16    1988.0   225000000             8174977.0                  3414498.0
17    1989.0   219650000             7919128.0                  3648252.0
18    1990.0   227650000             6957952.0                  3820124.0
19    1991.0   228600000             5936699.0                  3728412.0
20    1992.0   221300000             5259612.0                  3430594.0
21    1993.0   221700000             2578114.0                  2632772.0
22    1994.0   217250000              682389.0                   446604.0
23    1995.0   249650000              592446.0                   350990.0
24    1996.0   262050000              490421.0                   210335.0
25    1997.0   251520868              308935.0                    47231.0
26    1998.0   264274830              281153.0                    38816.0
27    1999.0   271308022              255094.0                    37090.0
28    2000.0   253598047              210483.0                    35425.0
29    2001.0   252002987              167740.0                    40930.0
30    2002.0   271509680              162945.0                    41969.0
31    2003.0   256814859              134743.0                    43222.0
32    2004.0   280763074              109394.0                    43116.0
33    2005.0   268515000               64837.0                    39462.0
34    2006.0   284864998                   0.0                    25757.0
35    2007.0   279000000                   0.0                        0.0
36    2008.0   283000000                   0.0                        0.0
37    2009.0   283000000                   0.0                        0.0
38    2010.0   285500000                   0.0                        0.0
39    2011.0   289300161                   0.0                        0.0
40    2012.0   310000000                   0.0                        0.0
41    2013.0   312100270                   0.0                        0.0
42    2014.0   319500000                   0.0                        0.0
43       NaN  8210084716           141970035.0                 77420591.0

    Hartford Jai Alai  Milford Jai Alai  Pari-mutuel Subtotal  \
0                 NaN               NaN                   NaN
1                 NaN               NaN                   NaN
2                 NaN               NaN                   NaN
3                 NaN               NaN                   NaN
4            384241.0               NaN             5534110.0
5           4215515.0          949904.0            22602112.0
6           4708105.0         4556746.0            22234398.0
7           4199321.0         4416805.0            21515330.0
8           4188854.0         4738019.0            20843022.0
9           3930327.0         4096110.0            20203890.0
10          4934239.0         4090059.0            21649296.0
11          4845766.0         4479478.0            22991585.0
12          4883719.0         4519902.0            23741065.0
13          5218887.0         4843053.0            24323158.0
14          5238231.0         3965388.0            24307802.0
15          5441696.0         4926814.0            24853376.0
16          4526011.0         5295122.0            21410608.0
17          3360573.0         4891112.0            19819065.0
18          4257677.0         4743204.0            19778957.0
19          3931354.0         4157985.0            17754450.0
20          3987895.0         3843258.0            16521359.0
21          2962939.0         3138557.0            11312382.0
22           519205.0          713048.0             2361246.0
23           421212.0          639706.0             2004354.0
24           141034.0          858996.0             1700786.0
25                0.0          521138.0              877304.0
26                0.0          401319.0              721288.0
27                0.0          341630.0              633814.0
28                0.0          324365.0              570273.0
29                0.0          294562.0              503232.0
30                0.0          137764.0              342678.0
31                0.0               0.0              177965.0
32                0.0               0.0              152510.0
33                0.0               0.0              104299.0
34                0.0               0.0               25757.0
35                0.0               0.0                   0.0
36                0.0               0.0                   0.0
37                0.0               0.0                   0.0
38                0.0               0.0                   0.0
39                0.0               0.0                   0.0
40                0.0               0.0                   0.0
41                0.0               0.0                   0.0
42                0.0               0.0                   0.0
43         76296801.0        75884044.0           371571471.0

    Off-Track Betting  Charitable Games      Foxwoods   Mohegan Sun  \
0                 NaN               NaN           NaN           NaN
1                 NaN               NaN           NaN           NaN
2                 NaN               NaN           NaN           NaN
3                 NaN               NaN           NaN           NaN
4                 NaN               NaN           NaN           NaN
5           8000000.0               NaN           NaN           NaN
6           8800000.0               NaN           NaN           NaN
7           7800000.0               NaN           NaN           NaN
8          13100000.0               NaN           NaN           NaN
9          13500000.0               NaN           NaN           NaN
10         20200000.0               NaN           NaN           NaN
11         19000000.0               NaN           NaN           NaN
12         18800000.0               NaN           NaN           NaN
13         18700000.0               NaN           NaN           NaN
14         18900000.0               NaN           NaN           NaN
15         18700000.0               NaN           NaN           NaN
16         18800000.0          450209.0           NaN           NaN
17         19600000.0         1662433.0           NaN           NaN
18         18300000.0         1048127.0           NaN           NaN
19         10900000.0         1326882.0           NaN           NaN
20         14400000.0         1500035.0           NaN           NaN
21         16200000.0         1735931.0  3.000000e+07           NaN
22          5788175.0         1805800.0  1.130000e+08           NaN
23          6129150.0         1748657.0  1.357240e+08           NaN
24          6610554.0         1723649.0  1.487028e+08           NaN
25          6874079.0         1491772.0  1.459579e+08  5.764384e+07
26          5441570.0         1423223.0  1.650680e+08  9.100786e+07
27          5472648.0         1258380.0  1.735811e+08  1.134503e+08
28          5616495.0         1205865.0  1.892350e+08  1.297500e+08
29          5674281.0         1162360.0  1.906838e+08  1.417345e+08
30          5736901.0         1284454.0  1.990382e+08  1.699160e+08
31          5783231.0         1230391.0  1.963005e+08  1.909539e+08
32          5783041.0         1398295.0  1.968831e+08  2.058509e+08
33          5275182.0         1431054.0  2.049530e+08  2.128844e+08
34          5055057.0         1305163.0  2.045058e+08  2.230208e+08
35          4808425.0         1297756.0  2.013803e+08  2.290955e+08
36          4603607.0         1211178.0  1.900377e+08  2.213733e+08
37          4195243.0         1063435.0  1.771535e+08  2.006514e+08
38          3816676.0          945375.0  1.694081e+08  1.898451e+08
39          3699415.0          876064.0  1.740924e+08  1.854887e+08
40          3766758.0          683627.0  1.655471e+08  1.787833e+08
41          3644167.0          425956.0  1.385319e+08  1.578639e+08
42          3723791.0          416962.0  1.315276e+08  1.483459e+08
43        371198446.0        33113033.0  3.641312e+09  3.047660e+09

    Casino Subtotal       Grand Total
0               NaN       $8,150,000
1               NaN      * 16,500,000
2               NaN      * 16,000,000
3               NaN      * 15,000,000
4               NaN      * 37,434,110
5               NaN      * 55,943,934
6               NaN      * 72,824,448
7               NaN      * 72,432,330
8               NaN      * 88,478,070
9               NaN      * 91,356,890
10              NaN     * 112,849,296
11              NaN     * 122,491,585
12              NaN     * 147,966,065
13              NaN     * 191,823,158
14              NaN     * 234,057,802
15              NaN     * 257,653,376
16              NaN     * 265,660,817
17              NaN     * 260,731,498
18              NaN     * 266,777,084
19              NaN     * 258,581,332
20              NaN     * 253,721,394
21     3.000000e+07     * 280,948,313
22     1.130000e+08     * 340,205,221
23     1.357240e+08     * 395,256,178
24     1.487028e+08     * 420,787,754
25     2.036018e+08     * 464,365,792
26     2.560759e+08     * 527,936,763
27     2.870314e+08     * 565,704,262
28     3.189851e+08     * 579,975,749
29     3.324183e+08     * 591,761,174
30     3.689542e+08     * 647,827,879
31     3.872545e+08     * 651,260,918
32     4.027340e+08     * 690,830,900
33     4.178375e+08     * 693,163,029
34     4.275266e+08     * 718,777,586
35     4.304757e+08     * 715,581,893
36     4.114110e+08     * 700,225,758
37     3.778049e+08     * 666,063,563
38     3.592532e+08     * 649,515,297
39     3.595811e+08     * 653,456,767
40     3.443304e+08     * 658,780,796
41     2.963959e+08     * 612,566,285
42     2.798735e+08     * 603,514,298
43     6.688972e+09  $15,674,939,364   >

In [7]:
df.columns

Index(['FYE 6/30', 'Lottery', 'Plainfield Greyhound',
       'Bridgeport Shoreline Star', 'Hartford Jai Alai', 'Milford Jai Alai',
       'Pari-mutuel Subtotal', 'Off-Track Betting', 'Charitable Games',
       'Foxwoods', 'Mohegan Sun', 'Casino Subtotal', 'Grand Total'],
      dtype='object')

In [8]:
df.dtypes

FYE 6/30                     float64
Lottery                        int64
Plainfield Greyhound         float64
Bridgeport Shoreline Star    float64
Hartford Jai Alai            float64
Milford Jai Alai             float64
Pari-mutuel Subtotal         float64
Off-Track Betting            float64
Charitable Games             float64
Foxwoods                     float64
Mohegan Sun                  float64
Casino Subtotal              float64
Grand Total                   object
dtype: object

In [10]:
df.shape

(44, 13)

In [11]:
df.count

<bound method DataFrame.count of     FYE 6/30     Lottery  Plainfield Greyhound  Bridgeport Shoreline Star  \
0     1972.0     8150000                   NaN                        NaN
1     1973.0    16500000                   NaN                        NaN
2     1974.0    16000000                   NaN                        NaN
3     1975.0    15000000                   NaN                        NaN
4     1976.0    31900000             4924536.0                   225333.0
5     1977.0    25341822             9897029.0                  7539664.0
6     1978.0    41790050             8119339.0                  4850208.0
7     1979.0    43117000             7806377.0                  5092827.0
8     1980.0    54535048             7176368.0                  4739781.0
9     1981.0    57653000             7517524.0                  4659929.0
10    1982.0    71000000             8145685.0                  4479313.0
11    1983.0    80500000             9253891.0                  4412450.0
12    1984.0   105425000             9791909.0                  4545535.0
13    1985.0   148800000             9875591.0                  4385627.0
14    1986.0   190850000             9629358.0                  5474825.0
15    1987.0   214100000             9545366.0                  4939500.0
16    1988.0   225000000             8174977.0                  3414498.0
17    1989.0   219650000             7919128.0                  3648252.0
18    1990.0   227650000             6957952.0                  3820124.0
19    1991.0   228600000             5936699.0                  3728412.0
20    1992.0   221300000             5259612.0                  3430594.0
21    1993.0   221700000             2578114.0                  2632772.0
22    1994.0   217250000              682389.0                   446604.0
23    1995.0   249650000              592446.0                   350990.0
24    1996.0   262050000              490421.0                   210335.0
25    1997.0   251520868              308935.0                    47231.0
26    1998.0   264274830              281153.0                    38816.0
27    1999.0   271308022              255094.0                    37090.0
28    2000.0   253598047              210483.0                    35425.0
29    2001.0   252002987              167740.0                    40930.0
30    2002.0   271509680              162945.0                    41969.0
31    2003.0   256814859              134743.0                    43222.0
32    2004.0   280763074              109394.0                    43116.0
33    2005.0   268515000               64837.0                    39462.0
34    2006.0   284864998                   0.0                    25757.0
35    2007.0   279000000                   0.0                        0.0
36    2008.0   283000000                   0.0                        0.0
37    2009.0   283000000                   0.0                        0.0
38    2010.0   285500000                   0.0                        0.0
39    2011.0   289300161                   0.0                        0.0
40    2012.0   310000000                   0.0                        0.0
41    2013.0   312100270                   0.0                        0.0
42    2014.0   319500000                   0.0                        0.0
43       NaN  8210084716           141970035.0                 77420591.0

    Hartford Jai Alai  Milford Jai Alai  Pari-mutuel Subtotal  \
0                 NaN               NaN                   NaN
1                 NaN               NaN                   NaN
2                 NaN               NaN                   NaN
3                 NaN               NaN                   NaN
4            384241.0               NaN             5534110.0
5           4215515.0          949904.0            22602112.0
6           4708105.0         4556746.0            22234398.0
7           4199321.0         4416805.0            21515330.0
8           4188854.0         4738019.0            20843022.0
9           3930327.0         4096110.0            20203890.0
10          4934239.0         4090059.0            21649296.0
11          4845766.0         4479478.0            22991585.0
12          4883719.0         4519902.0            23741065.0
13          5218887.0         4843053.0            24323158.0
14          5238231.0         3965388.0            24307802.0
15          5441696.0         4926814.0            24853376.0
16          4526011.0         5295122.0            21410608.0
17          3360573.0         4891112.0            19819065.0
18          4257677.0         4743204.0            19778957.0
19          3931354.0         4157985.0            17754450.0
20          3987895.0         3843258.0            16521359.0
21          2962939.0         3138557.0            11312382.0
22           519205.0          713048.0             2361246.0
23           421212.0          639706.0             2004354.0
24           141034.0          858996.0             1700786.0
25                0.0          521138.0              877304.0
26                0.0          401319.0              721288.0
27                0.0          341630.0              633814.0
28                0.0          324365.0              570273.0
29                0.0          294562.0              503232.0
30                0.0          137764.0              342678.0
31                0.0               0.0              177965.0
32                0.0               0.0              152510.0
33                0.0               0.0              104299.0
34                0.0               0.0               25757.0
35                0.0               0.0                   0.0
36                0.0               0.0                   0.0
37                0.0               0.0                   0.0
38                0.0               0.0                   0.0
39                0.0               0.0                   0.0
40                0.0               0.0                   0.0
41                0.0               0.0                   0.0
42                0.0               0.0                   0.0
43         76296801.0        75884044.0           371571471.0

    Off-Track Betting  Charitable Games      Foxwoods   Mohegan Sun  \
0                 NaN               NaN           NaN           NaN
1                 NaN               NaN           NaN           NaN
2                 NaN               NaN           NaN           NaN
3                 NaN               NaN           NaN           NaN
4                 NaN               NaN           NaN           NaN
5           8000000.0               NaN           NaN           NaN
6           8800000.0               NaN           NaN           NaN
7           7800000.0               NaN           NaN           NaN
8          13100000.0               NaN           NaN           NaN
9          13500000.0               NaN           NaN           NaN
10         20200000.0               NaN           NaN           NaN
11         19000000.0               NaN           NaN           NaN
12         18800000.0               NaN           NaN           NaN
13         18700000.0               NaN           NaN           NaN
14         18900000.0               NaN           NaN           NaN
15         18700000.0               NaN           NaN           NaN
16         18800000.0          450209.0           NaN           NaN
17         19600000.0         1662433.0           NaN           NaN
18         18300000.0         1048127.0           NaN           NaN
19         10900000.0         1326882.0           NaN           NaN
20         14400000.0         1500035.0           NaN           NaN
21         16200000.0         1735931.0  3.000000e+07           NaN
22          5788175.0         1805800.0  1.130000e+08           NaN
23          6129150.0         1748657.0  1.357240e+08           NaN
24          6610554.0         1723649.0  1.487028e+08           NaN
25          6874079.0         1491772.0  1.459579e+08  5.764384e+07
26          5441570.0         1423223.0  1.650680e+08  9.100786e+07
27          5472648.0         1258380.0  1.735811e+08  1.134503e+08
28          5616495.0         1205865.0  1.892350e+08  1.297500e+08
29          5674281.0         1162360.0  1.906838e+08  1.417345e+08
30          5736901.0         1284454.0  1.990382e+08  1.699160e+08
31          5783231.0         1230391.0  1.963005e+08  1.909539e+08
32          5783041.0         1398295.0  1.968831e+08  2.058509e+08
33          5275182.0         1431054.0  2.049530e+08  2.128844e+08
34          5055057.0         1305163.0  2.045058e+08  2.230208e+08
35          4808425.0         1297756.0  2.013803e+08  2.290955e+08
36          4603607.0         1211178.0  1.900377e+08  2.213733e+08
37          4195243.0         1063435.0  1.771535e+08  2.006514e+08
38          3816676.0          945375.0  1.694081e+08  1.898451e+08
39          3699415.0          876064.0  1.740924e+08  1.854887e+08
40          3766758.0          683627.0  1.655471e+08  1.787833e+08
41          3644167.0          425956.0  1.385319e+08  1.578639e+08
42          3723791.0          416962.0  1.315276e+08  1.483459e+08
43        371198446.0        33113033.0  3.641312e+09  3.047660e+09

    Casino Subtotal       Grand Total
0               NaN       $8,150,000
1               NaN      * 16,500,000
2               NaN      * 16,000,000
3               NaN      * 15,000,000
4               NaN      * 37,434,110
5               NaN      * 55,943,934
6               NaN      * 72,824,448
7               NaN      * 72,432,330
8               NaN      * 88,478,070
9               NaN      * 91,356,890
10              NaN     * 112,849,296
11              NaN     * 122,491,585
12              NaN     * 147,966,065
13              NaN     * 191,823,158
14              NaN     * 234,057,802
15              NaN     * 257,653,376
16              NaN     * 265,660,817
17              NaN     * 260,731,498
18              NaN     * 266,777,084
19              NaN     * 258,581,332
20              NaN     * 253,721,394
21     3.000000e+07     * 280,948,313
22     1.130000e+08     * 340,205,221
23     1.357240e+08     * 395,256,178
24     1.487028e+08     * 420,787,754
25     2.036018e+08     * 464,365,792
26     2.560759e+08     * 527,936,763
27     2.870314e+08     * 565,704,262
28     3.189851e+08     * 579,975,749
29     3.324183e+08     * 591,761,174
30     3.689542e+08     * 647,827,879
31     3.872545e+08     * 651,260,918
32     4.027340e+08     * 690,830,900
33     4.178375e+08     * 693,163,029
34     4.275266e+08     * 718,777,586
35     4.304757e+08     * 715,581,893
36     4.114110e+08     * 700,225,758
37     3.778049e+08     * 666,063,563
38     3.592532e+08     * 649,515,297
39     3.595811e+08     * 653,456,767
40     3.443304e+08     * 658,780,796
41     2.963959e+08     * 612,566,285
42     2.798735e+08     * 603,514,298
43     6.688972e+09  $15,674,939,364   >

In [5]:
df

,FYE 6/30,Lottery,Plainfield Greyhound,Bridgeport Shoreline Star,Hartford Jai Alai,Milford Jai Alai,Pari-mutuel Subtotal,Off-Track Betting,Charitable Games,Foxwoods,Mohegan Sun,Casino Subtotal,Grand Total
0,1972.0,8150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"$8,150,000"
1,1973.0,16500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* 16,500,000"
2,1974.0,16000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* 16,000,000"
3,1975.0,15000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* 15,000,000"
4,1976.0,31900000,4924536.0,225333.0,384241.0,NaN,5534110.0,NaN,NaN,NaN,NaN,NaN,"* 37,434,110"
5,1977.0,25341822,9897029.0,7539664.0,4215515.0,949904.0,22602112.0,8000000.0,NaN,NaN,NaN,NaN,"* 55,943,934"
6,1978.0,41790050,8119339.0,4850208.0,4708105.0,4556746.0,22234398.0,8800000.0,NaN,NaN,NaN,NaN,"* 72,824,448"
7,1979.0,43117000,7806377.0,5092827.0,4199321.0,4416805.0,21515330.0,7800000.0,NaN,NaN,NaN,NaN,"* 72,432,330"
8,1980.0,54535048,7176368.0,4739781.0,4188854.0,4738019.0,20843022.0,13100000.0,NaN,NaN,NaN,NaN,"* 88,478,070"
9,1981.0,57653000,7517524.0,4659929.0,3930327.0,4096110.0,20203890.0,13500000.0,NaN,NaN,NaN,NaN,"* 91,356,890"
10,1982.0,71000000,8145685.0,4479313.0,4934239.0,4090059.0,21649296.0,20200000.0,NaN,NaN,NaN,NaN,"* 112,849,296"
11,1983.0,80500000,9253891.0,4412450.0,4845766.0,4479478.0,22991585.0,19000000.0,NaN,NaN,NaN,NaN,"* 122,491,585"
12,1984.0,105425000,9791909.0,4545535.0,4883719.0,4519902.0,23741065.0,18800000.0,NaN,NaN,NaN,NaN,"* 147,966,065"
13,1985.0,148800000,9875591.0,4385627.0,5218887.0,4843053.0,24323158.0,18700000.0,NaN,NaN,NaN,NaN,"* 191,823,158"
14,1986.0,190850000,9629358.0,5474825.0,5238231.0,3965388.0,24307802.0,18900000.0,NaN,NaN,NaN,NaN,"* 234,057,802"
15,1987.0,214100000,9545366.0,4939500.0,5441696.0,4926814.0,24853376.0,18700000.0,NaN,NaN,NaN,NaN,"* 257,653,376"
16,1988.0,225000000,8174977.0,3414498.0,4526011.0,5295122.0,21410608.0,18800000.0,450209.0,NaN,NaN,NaN,"* 265,660,817"
17,1989.0,219650000,7919128.0,3648252.0,3360573.0,4891112.0,19819065.0,19600000.0,1662433.0,NaN,NaN,NaN,"* 260,731,498"
18,1990.0,227650000,6957952.0,3820124.0,4257677.0,4743204.0,19778957.0,18300000.0,1048127.0,NaN,NaN,NaN,"* 266,777,084"
19,1991.0,228600000,5936699.0,3728412.0,3931354.0,4157985.0,17754450.0,10900000.0,1326882.0,NaN,NaN,NaN,"* 258,581,332"
20,1992.0,221300000,5259612.0,3430594.0,3987895.0,3843258.0,16521359.0,14400000.0,1500035.0,NaN,NaN,NaN,"* 253,721,394"
21,1993.0,221700000,2578114.0,2632772.0,2962939.0,3138557.0,11312382.0,16200000.0,1735931.0,3.000000e+07,NaN,3.000000e+07,"* 280,948,313"
22,1994.0,217250000,682389.0,446604.0,519205.0,713048.0,2361246.0,5788175.0,1805800.0,1.130000e+08,NaN,1.130000e+08,"* 340,205,221"
23,1995.0,249650000,592446.0,350990.0,421212.0,639706.0,2004354.0,6129150.0,1748657.0,1.357240e+08,NaN,1.357240e+08,"* 395,256,178"
24,1996.0,262050000,490421.0,210335.0,141034.0,858996.0,1700786.0,6610554.0,1723649.0,1.487028e+08,NaN,1.487028e+08,"* 420,787,754"
25,1997.0,251520868,308935.0,47231.0,0.0,521138.0,877304.0,6874079.0,1491772.0,1.459579e+08,5.764384e+07,2.036018e+08,"* 464,365,792"
26,1998.0,264274830,281153.0,38816.0,0.0,401319.0,721288.0,5441570.0,1423223.0,1.650680e+08,9.100786e+07,2.560759e+08,"* 527,936,763"
27,1999.0,271308022,255094.0,37090.0,0.0,341630.0,633814.0,5472648.0,1258380.0,1.735811e+08,1.134503e+08,2.870314e+08,"* 565,704,262"
28,2000.0,253598047,210483.0,35425.0,0.0,324365.0,570273.0,5616495.0,1205865.0,1.892350e+08,1.297500e+08,3.189851e+08,"* 579,975,749"
29,2001.0,252002987,167740.0,40930.0,0.0,294562.0,503232.0,5674281.0,1162360.0,1.906838e+08,1.417345e+08,3.324183e+08,"* 591,761,174"
30,2002.0,271509680,162945.0,41969.0,0.0,137764.0,342678.0,5736901.0,1284454.0,1.990382e+08,1.699160e+08,3.689542e+08,"* 647,827,879"
31,2003.0,256814859,134743.0,43222.0,0.0,0.0,177965.0,5783231.0,1230391.0,1.963005e+08,1.909539e+08,3.872545e+08,"* 651,260,918"
32,2004.0,280763074,109394.0,43116.0,0.0,0.0,152510.0,5783041.0,1398295.0,1.968831e+08,2.058509e+08,4.027340e+08,"* 690,830,900"
33,2005.0,268515000,64837.0,39462.0,0.0,0.0,104299.0,5275182.0,1431054.0,2.049530e+08,2.128844e+08,4.178375e+08,"* 693,163,029"
34,2006.0,284864998,0.0,25757.0,0.0,0.0,25757.0,5055057.0,1305163.0,2.045058e+08,2.230208e+08,4.275266e+08,"* 718,777,586"
35,2007.0,279000000,0.0,0.0,0.0,0.0,0.0,4808425.0,1297756.0,2.013803e+08,2.290955e+08,4.304757e+08,"* 715,581,893"
36,2008.0,283000000,0.0,0.0,0.0,0.0,0.0,4603607.0,1211178.0,1.900377e+08,2.213733e+08,4.114110e+08,"* 700,225,758"
37,2009.0,283000000,0.0,0.0,0.0,0.0,0.0,4195243.0,1063435.0,1.771535e+08,2.006514e+08,3.778049e+08,"* 666,063,563"
38,2010.0,285500000,0.0,0.0,0.0,0.0,0.0,3816676.0,945375.0,1.694081e+08,1.898451e+08,3.592532e+08,"* 649,515,297"
39,2011.0,289300161,0.0,0.0,0.0,0.0,0.0,3699415.0,876064.0,1.740924e+08,1.854887e+08,3.595811e+08,"* 653,456,767"
40,2012.0,310000000,0.0,0.0,0.0,0.0,0.0,3766758.0,683627.0,1.655471e+08,1.787833e+08,3.443304e+08,"* 658,780,796"
41,2013.0,312100270,0.0,0.0,0.0,0.0,0.0,3644167.0,425956.0,1.385319e+08,1.578639e+08,2.963959e+08,"* 612,566,285"
42,2014.0,319500000,0.0,0.0,0.0,0.0,0.0,3723791.0,416962.0,1.315276e+08,1.483459e+08,2.798735e+08,"* 603,514,298"
43,NaN,8210084716,141970035.0,77420591.0,76296801.0,75884044.0,371571471.0,371198446.0,33113033.0,3.641312e+09,3.047660e+09,6.688972e+09,"$15,674,939,364"

In [6]:
df.isnull().sum().sort_values(ascending = False)

Mohegan Sun                  25
Casino Subtotal              21
Foxwoods                     21
Charitable Games             16
Off-Track Betting             5
Milford Jai Alai              5
Pari-mutuel Subtotal          4
Hartford Jai Alai             4
Bridgeport Shoreline Star     4
Plainfield Greyhound          4
FYE 6/30                      1
Grand Total                   0
Lottery                       0
dtype: int64

In [10]:
df.fillna(' ', inplace = True)

In [13]:
df.isnull().sum().sort_values()

FYE 6/30                     0
Lottery                      0
Plainfield Greyhound         0
Bridgeport Shoreline Star    0
Hartford Jai Alai            0
Milford Jai Alai             0
Pari-mutuel Subtotal         0
Off-Track Betting            0
Charitable Games             0
Foxwoods                     0
Mohegan Sun                  0
Casino Subtotal              0
Grand Total                  0
dtype: int64

In [14]:
# Note - how to handle the last row which represents totals over all years

df

,FYE 6/30,Lottery,Plainfield Greyhound,Bridgeport Shoreline Star,Hartford Jai Alai,Milford Jai Alai,Pari-mutuel Subtotal,Off-Track Betting,Charitable Games,Foxwoods,Mohegan Sun,Casino Subtotal,Grand Total
0,1972,8150000,,,,,,,,,,,"$8,150,000"
1,1973,16500000,,,,,,,,,,,"* 16,500,000"
2,1974,16000000,,,,,,,,,,,"* 16,000,000"
3,1975,15000000,,,,,,,,,,,"* 15,000,000"
4,1976,31900000,4.92454e+06,225333,384241,,5.53411e+06,,,,,,"* 37,434,110"
5,1977,25341822,9.89703e+06,7.53966e+06,4.21552e+06,949904,2.26021e+07,8e+06,,,,,"* 55,943,934"
6,1978,41790050,8.11934e+06,4.85021e+06,4.70810e+06,4.55675e+06,2.22344e+07,8.8e+06,,,,,"* 72,824,448"
7,1979,43117000,7.80638e+06,5.09283e+06,4.19932e+06,4.41680e+06,2.15153e+07,7.8e+06,,,,,"* 72,432,330"
8,1980,54535048,7.17637e+06,4.73978e+06,4.18885e+06,4.73802e+06,2.0843e+07,1.31e+07,,,,,"* 88,478,070"
9,1981,57653000,7.51752e+06,4.65993e+06,3.93033e+06,4.09611e+06,2.02039e+07,1.35e+07,,,,,"* 91,356,890"
10,1982,71000000,8.14568e+06,4.47931e+06,4.93424e+06,4.09006e+06,2.16493e+07,2.02e+07,,,,,"* 112,849,296"
11,1983,80500000,9.25389e+06,4.41245e+06,4.84577e+06,4.47948e+06,2.29916e+07,1.9e+07,,,,,"* 122,491,585"
12,1984,105425000,9.79191e+06,4.54554e+06,4.88372e+06,4.5199e+06,2.37411e+07,1.88e+07,,,,,"* 147,966,065"
13,1985,148800000,9.87559e+06,4.38563e+06,5.21889e+06,4.84305e+06,2.43232e+07,1.87e+07,,,,,"* 191,823,158"
14,1986,190850000,9.62936e+06,5.47482e+06,5.23823e+06,3.96539e+06,2.43078e+07,1.89e+07,,,,,"* 234,057,802"
15,1987,214100000,9.54537e+06,4.9395e+06,5.4417e+06,4.92681e+06,2.48534e+07,1.87e+07,,,,,"* 257,653,376"
16,1988,225000000,8.17498e+06,3.4145e+06,4.52601e+06,5.29512e+06,2.14106e+07,1.88e+07,450209,,,,"* 265,660,817"
17,1989,219650000,7.91913e+06,3.64825e+06,3.36057e+06,4.89111e+06,1.98191e+07,1.96e+07,1.66243e+06,,,,"* 260,731,498"
18,1990,227650000,6.95795e+06,3.82012e+06,4.25768e+06,4.7432e+06,1.9779e+07,1.83e+07,1.04813e+06,,,,"* 266,777,084"
19,1991,228600000,5.9367e+06,3.72841e+06,3.93135e+06,4.15798e+06,1.77544e+07,1.09e+07,1.32688e+06,,,,"* 258,581,332"
20,1992,221300000,5.25961e+06,3.43059e+06,3.9879e+06,3.84326e+06,1.65214e+07,1.44e+07,1.50004e+06,,,,"* 253,721,394"
21,1993,221700000,2.57811e+06,2.63277e+06,2.96294e+06,3.13856e+06,1.13124e+07,1.62e+07,1.73593e+06,3e+07,,3e+07,"* 280,948,313"
22,1994,217250000,682389,446604,519205,713048,2.36125e+06,5.78818e+06,1.8058e+06,1.13e+08,,1.13e+08,"* 340,205,221"
23,1995,249650000,592446,350990,421212,639706,2.00435e+06,6.12915e+06,1.74866e+06,1.35724e+08,,1.35724e+08,"* 395,256,178"
24,1996,262050000,490421,210335,141034,858996,1.70079e+06,6.61055e+06,1.72365e+06,1.48703e+08,,1.48703e+08,"* 420,787,754"
25,1997,251520868,308935,47231,0,521138,877304,6.87408e+06,1.49177e+06,1.45958e+08,5.76438e+07,2.03602e+08,"* 464,365,792"
26,1998,264274830,281153,38816,0,401319,721288,5.44157e+06,1.42322e+06,1.65068e+08,9.10079e+07,2.56076e+08,"* 527,936,763"
27,1999,271308022,255094,37090,0,341630,633814,5.47265e+06,1.25838e+06,1.73581e+08,1.1345e+08,2.87031e+08,"* 565,704,262"
28,2000,253598047,210483,35425,0,324365,570273,5.6165e+06,1.20586e+06,1.89235e+08,1.2975e+08,3.18985e+08,"* 579,975,749"
29,2001,252002987,167740,40930,0,294562,503232,5.67428e+06,1.16236e+06,1.90684e+08,1.41735e+08,3.32418e+08,"* 591,761,174"
30,2002,271509680,162945,41969,0,137764,342678,5.7369e+06,1.28445e+06,1.99038e+08,1.69916e+08,3.68954e+08,"* 647,827,879"
31,2003,256814859,134743,43222,0,0,177965,5.78323e+06,1.23039e+06,1.96301e+08,1.90954e+08,3.87254e+08,"* 651,260,918"
32,2004,280763074,109394,43116,0,0,152510,5.78304e+06,1.3983e+06,1.96883e+08,2.05851e+08,4.02734e+08,"* 690,830,900"
33,2005,268515000,64837,39462,0,0,104299,5.27518e+06,1.43105e+06,2.04953e+08,2.12884e+08,4.17837e+08,"* 693,163,029"
34,2006,284864998,0,25757,0,0,25757,5.05506e+06,1.30516e+06,2.04506e+08,2.23021e+08,4.27527e+08,"* 718,777,586"
35,2007,279000000,0,0,0,0,0,4.80842e+06,1.29776e+06,2.0138e+08,2.29095e+08,4.30476e+08,"* 715,581,893"
36,2008,283000000,0,0,0,0,0,4.60361e+06,1.21118e+06,1.90038e+08,2.21373e+08,4.11411e+08,"* 700,225,758"
37,2009,283000000,0,0,0,0,0,4.19524e+06,1.06344e+06,1.77153e+08,2.00651e+08,3.77805e+08,"* 666,063,563"
38,2010,285500000,0,0,0,0,0,3.81668e+06,945375,1.69408e+08,1.89845e+08,3.59253e+08,"* 649,515,297"
39,2011,289300161,0,0,0,0,0,3.69942e+06,876064,1.74092e+08,1.85489e+08,3.59581e+08,"* 653,456,767"
40,2012,310000000,0,0,0,0,0,3.76676e+06,683627,1.65547e+08,1.78783e+08,3.4433e+08,"* 658,780,796"
41,2013,312100270,0,0,0,0,0,3.64417e+06,425956,1.38532e+08,1.57864e+08,2.96396e+08,"* 612,566,285"
42,2014,319500000,0,0,0,0,0,3.72379e+06,416962,1.31528e+08,1.48346e+08,2.79874e+08,"* 603,514,298"
43,,8210084716,1.4197e+08,7.74206e+07,7.62968e+07,7.5884e+07,3.71571e+08,3.71198e+08,3.3113e+07,3.64131e+09,3.04766e+09,6.68897e+09,"$15,674,939,364"